/* WELCOME */

.sec-1{
	background: url('../img/tastyfoodintro.jpg');
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
  color:$white;
		.btn{
			background:$mandarina;
			border-radius: 9px;
			margin: 6px;
			padding: 2px 109px 37px 110px;
			font-weight: $light;
			letter-spacing:1px;
		}
		.login{
				padding-right:120px;
			}
		a{
			&.newbie{
			font-weight:$light;
			letter-spacing:1px;
			margin:0;
			font-size:12px;
			text-align:center;
			color:$white;
			}
		}
		h1{
		margin-top: 140px;
    margin-bottom: 90px;
		}
}

/* SIGN UP */

nav{
	background-color:$mandarina;
}

body{
	background-color:$gris-fondo;
		h1{
			color:$mandarina;
			font-family:$fuente-tasty;
			font-size:4em;
		}
		p{
			color:$gris-letra;
			font-weight:$light;
		}
		.input{
			margin-right: 18px;
		}
		#name,
		#email,
		#pass{
			border: 1px solid $gris-borde;
			background-color: $white;
			border-radius: 3px;
			font-weight: lighter;
			padding-left:15px;
			color:$gris-letra;
		}
		.btn{
			background:$mandarina;
			border-radius: 9px;
			margin: -12px 6px 6px;
			padding: 0px 20px;
			font-weight: $light;
			letter-spacing:3px;
			text-align:center;
			display: block;
		}
}

/* La famosa linea verde del input en materialize */
input[type=password]:not(.browser-default):focus:not([readonly])
input:not([type]):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* Efecto hover */
.btn{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: red;/* q es esto */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $mandarina;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active, .btn-large:hover{
  color: white;
  background-color: #4CAF50;
  margin: 0;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/*.btn-large:hover, .btn:active, .btn:focus, .btn:hover {
    color: #fff;
    background-color: #4CAF50;
    margin: 0px;
}*/


