$color-primary: #FF8529;
$mandarina: #ff8529;
$color_fondo_menu: #ff8529;
$color-primary-dark: #DE6304;
$color-grey: #EAEAEA;
$gris-fondo:#eaeaea;
$color_fondo_gris: #ebebeb;
$color-grey-dark:#656565;
$gris-letra:#a9a9a9;
$gris-borde:#e3e3e3;
$color_textos_white: white;
$white:#fff;
$light:lighter;
$fuente-tasty:'Pacifico', cursive;


