
#body-search{
	img{
		width: 100%;
		height: auto;
	}
	.info-tarjeta{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #ff843d;
	}
	footer {
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		background-color: white;
		margin: 0;
	}
	i{
		font-size: 30px;
	}
	.tarjeta{
		margin-bottom: 10px;
	}
}

.elementosApi{
		#body-search{
			img{
				width: 100%;
				height: auto;
			}
			.info-tarjeta{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				background-color: #ff843d;
			}
			footer {
				position:fixed;
				left:0px;
				bottom:0px;
				width:100%;
				margin: 0;
			}
			.movers{
				display: absolute;
			}
			i{
				font-size: 30px;
			}
		}
	}
